@import ../../node_modules/bootstrap/scss/functions
@import ../../node_modules/bootstrap/scss/variables

$lighter: #f9f9f9
$light: #edf2ff
$lightgrey: #eee
$grey: #999
$main: #4891da
$dark: #1a76d1
$darker: #2c2d3f

$custom-colors: ("-lighter": $lighter, "-light": $light, "-main": $main, "-dark": $dark, "-darker": $darker, "-grey": $grey, "-lightgrey": $lightgrey)
$theme-colors: map-merge($custom-colors, $theme-colors)

$spacer: .25rem
$spacers: (0: 0)
@for $i from 1 through 20
    $spacers: map-merge($spacers, ($i: $i * $spacer))

.px--5
    padding: 0rem .25rem

.w-fit-content
    width: fit-content

.h-14px
    height: 14px

.place-items-center
    place-items: center

.flex-1
    flex: 1

.bg-size-cover
    background-size: cover

@media only screen and (min-width: 469px)
    .flex-2
        flex: 0 0 calc( 77% / 2 )

    .flex-4
        flex: 0 0 calc( 77% + 2rem )

.bg-fixed
    background-attachment: fixed

// Mobile
@media only screen and (max-width: 426px)
    .h-sm-fit-content
        height: fit-content

    .w-sm-100
        width: 100% !important

// Tablet
@media only screen and (min-width: 426px) and (max-width: 1024px)
    .h-md-full
        height: calc( 100vh - 63px )

    .flex-lg-1
        flex: 1

    .w-md-30
        width: 30% !important

    .w-md-50
        width: 50% !important

    .w-md-45
        width: 45% !important

    .w-md-100
        width: 100% !important



// Descktop
@media only screen and (min-width: 1024px)
    .h-lg-full
        height: calc( 100vh - 63px )

    .w-lg-20
        width: 20% !important
    .w-lg-24
        width: 24% !important

    .w-lg-30
        width: 30% !important
    .w-lg-35_5
        width: 35.5% !important

    .w-lg-50
        width: 50% !important

    .w-lg-90
        width: 90% !important

    .w-lg-100
        width: 100% !important
