@import ../../node_modules/bootstrap/scss/functions
@import ../../node_modules/bootstrap/scss/variables

// $dark: #123
// $green: #1f6
// $blue: #1ac

// $colors: ("blue": $blue, "green": $green, "dark": $dark)

// @each $name, $color in $colors
//     .c-#{$name}
//         color: $color

$lighter: #f9f9f9
$light: #edf2ff
$main: #4891da
$dark: #1a76d1
$darker: #2c2d3f

$custom-colors: ("-lighter": $lighter, "-light": $light, "-main": $main, "-dark": $dark, "-darker": $darker)
$theme-colors: map-merge($custom-colors, $theme-colors)

$spacer: .25rem
$spacers: (0: 0)
@for $i from 1 through 20
    $spacers: map-merge($spacers, ($i: $i * $spacer))

@media only screen and (max-width: 426px)
    .w-sm-100
        width: 100%

@media only screen and (min-width: 426px) and (max-width: 1024px)
    .w-md-30
        width: 30%

    .w-md-50
        width: 45%

    .w-md-100
        width: 100%

@media only screen and (min-width: 1024px)
    .w-lg-30
        width: 30%

    .w-lg-50
        width: 50%

    .w-lg-80
        width: 80%

    .w-lg-100
        width: 100%
