@media only screen and (min-width: 1024px)
    header
        .nav-item
            &::after
                content: ''
                border-bottom: 3px solid var(--bs--dark)
                width: 10%
                transition: .7s

            &:first-child, &:hover
                // color: red !important
                &::after
                    display: block
                    width: 90%
