@media only screen and (min-width: 1024px)
    header
        .nav-item
            position: relative

            &::after
                content: ''
                border-bottom: 4px solid var(--bs--dark)
                border-radius: 5px
                width: 0
                position: absolute
                left: 0
                top: 49.5px
                transition: .7s
                visibility: hidden

            &:first-child, &:hover
                &::after
                    visibility: visible
                    width: 90%
