main
    margin-top: 63px
    section:last-child
        input
            outline: none

    section:first-child
        .bg-slider1
            background-image: url(../images/slider.jpg)
        .bg-slider2
            background-image: url(../images/slider2.jpg)
        .bg-slider3
            background-image: url(../images/slider3.jpg)

    .blockqoute-bg
        background-image: url(../images/blockqoute-bg.jpg)

    .call-bg
        background-image: url(../images/call-bg.jpg)

    .overlay
        background-size: cover
        position: relative

        &::before
            content: ""
            background-color: var(--bs--dark)
            height: 100%
            width: 100%
            position: absolute
            top: 0
            left: 0
            opacity: .75

    section:nth-child(2)
        padding: 2.5rem 1.5rem
        gap: 4rem

        .section2-container
            display: flex
            flex-direction: column
            align-items: center
            gap: 3rem

            .section2-heading
                display: flex
                flex-direction: column
                align-items: center
                text-align: center

                p
                    opacity: 50%
                    font-weight: medium

            .section2-items
                display: flex
                gap: 2rem

                .section2-item
                    display: flex
                    flex-direction: column
                    align-items: center
                    text-align: center
                    gap: 1rem

                    p
                        opacity: 75%

                    .item-icon
                        border: 1px solid #0000001c
                        border-radius: 50%
                        padding: 1.75rem 1.5rem

                        i
                            color: var(--bs--dark)

                    &:nth-child(2)
                        position: relative
                        &::before, &::after
                            content: ""
                            border-bottom: 3px dotted var(--bs--dark)
                            position: absolute
                            top: 60px
                            width: 118px

                        &::after
                            left: -72px

                        &::before
                            right: -72px

    section:nth-child(4)
        h3
            position: relative
            padding-bottom: .75rem
            &::before
                position: absolute
                content: ""
                left: 0
                bottom: 0
                width: 7.5%
                border-bottom: solid 3px #1a76d1

    section:nth-child(11)
        textarea
            resize: none

@media only screen and (min-width: 1024px)
    main
        section:nth-child(2)
            padding: 5rem

            .section2-heading
                width: 50%

@media only screen and (max-width: 426px)
    main
        section:nth-child(2)
            .section2-container
                .section2-items
                    flex-direction: column

                    .section2-item:nth-child(2)
                        &::after, &::before
                            border: none

@media only screen and (min-width: 426px) and (max-width: 1024px)
    main
        section:nth-child(2)
            .section2-container
                .section2-items
                    .section2-item:nth-child(2)
                        &::after, &::before
                            border: none

// .sec1
//     .alldiv
//         height: 33rem
//         .alldiv1
//             height: 33rem
//             .div11
//                 .d2
//                     height: 36rem
//                     width: 56rem
//                     h1
//                         width: 36rem
//                     p
//                         width: 36rem
//                     div
//                         width: 32rem
//                         .button1
//                             width: 12rem
//                             height: 3rem
//                         .button2
//                             width: 8rem
//                             height: 3rem
    button
        .slide
            width: 3rem
            height: 3rem

@media only screen and (max-width: 426px)

    .sec1
        width: 100vw !important
        height: 50vh
        .alldiv
            .alldiv1
                .div11
                    .d1
                        width: 40rem
                        background-size: contain
                        background-repeat: no-repeat
                        .d2
                            height: 36rem
                            width: 56rem
                            h1
                                font-size: x-large
                                width: 26rem
                            p
                                width: 22rem
                            div
                                width: 26rem
                                .button1
                                    width: 80vw
                                .button2
                                    width: 80vw
                .left
                    display: none
                .right
                    display: none
